<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="stylesheet" href="/static/css/final.css">
    <title>Predicted Result</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/">RATINGZ</a>
        </div>
        <nav>
            <ul>
                <li><a href="/predict">Predict Rating</a></li>
                <li><a href="/aboutus">Abouts Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Final Prediction</h2>
        <div id="ans">
            <h3>This is the type of user our model detected</h3>
            <p>{{predictedd}}</p>
        </div>
    </main>
</body>
</html>