<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>SMS SPAM DETECTOR</title>
</head>
<body>
    <div class="mainContainer">
    <h1>TEAM BUG-BYTE</h1>

    <div class="image">
        <img src="../static/mobile.jpg" alt="">
    </div>

    <p>This is a spam SMS detection system based on Machine Learning. It uses a Naive Bayes classification algorith to predict the type of message</p>

    <div class="btn">
        <a href="/predict">KNOW THE TYPE OF SMS</a>
    </div>
</div>
</body>
</html>